version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    ports:
      - "8080:8080"
    environment:
      # This matches the db.url call in your server.js
      - DB_URL=mongodb://mongodb:27017/crud_db 
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: mean-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: